<!-- style -->
<style>
    .nav {
        position: fixed;
        left: 0;
        top:0;
        padding: 15px;
        display: grid;
        grid-template-columns: 9fr 1.2fr;
        background-color: rgb(235, 235, 235);
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(170, 170, 170, 0.596), 0 1.5px 5px 0 rgba(223, 223, 223, 0.19);
    }
</style>

<!-- Template -->
<template id="navTemplate">
    <div class="nav">
        <!-- Header -->
        <div class="div-flex start">Metal Cloud Compute</div>
        <!-- Create Instance -->
        <div class="div-flex center">
            <span class="button" title="Create Virtual Instance" v-on:click="$emit('create_instance')">Instance</span>
        </div>
    </div>
</template>

<!-- Script -->
<script>
    Vue.component("nav-component",{
        template : "#navTemplate",
    })
</script>

